{% extends "base.html" %}

{% load static %}
{% block content %}

<style>

  .card {
    padding: 40px; 
    border: none;    }
  
  .card-img-top {
    width: 170px; 
    height: auto; 
  }
</style>
<body>
<!-- Hero Section -->
<div class="container-fluid">
  <div class="row text-center" style="background-color: #e5f1ff; max-height: 300px; padding: 100px;">
    <div class="col">
      <h1 class="mb-3 fw-bold">Book Technician</h1>
      <h5>We consider all customers equal and generate a professional outcome of our work.</h5>
      <div class="d-flex justify-content-center mt-4">
        <form style="width: 40%;">
          <div class="input-group">
            <input type="text" class="form-control border border-dark rounded" placeholder="Search...">
          </div>       
        </form>
      </div>
    </div>
  </div>
</div>

<!-- text -->
<div class="container mb-3 mt-4">
  <div class="row">
    <div class="col-sm-6">  
      <p>- Look for your desire</p>
          <h3 class="fw-bold">Discover what makes us
            <br>top choice.</h3>
        </div>
      </div>
    </div>
    

<!-- technicians card -->

<div class="container mb-5">
  <div class="row justify-content-evenly px-2 g-1">
    {% for technician in technicians %}
    <div class="col-sm-3 position-relative mt-4 me-1 border border-dark rounded min-height-200 p-0 shadow-lg">
      <div class="card">
        <div class="card-body d-flex flex-column">
          <img src="{{ technician.user.profile_picture.url }}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h4 class="fw-bold card-text">{{ technician.user.first_name }} {{ technician.user.last_name }}</h4>
          <h6 class="fw-bold card-text">{{ technician.service_type }}</h6>
          <p class="card-text mt-2">{{ technician.technician_description }}</p>
        </div>
      </div>
      <div class="mt-auto bottom-0 position-absolute w-100">
        <a href="booknow.html" class="btn btn-primary btn-block fw-bold w-100 p-2 fs-5 rounded border-0" style='background-color:#070441;'>Book Now</a>
      </div>
    </div>
    {% endfor %}
    {% comment %}  {% endcomment %}
       
    
  </div>
</div>

<form class=''>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="m-1 border border-dark">
        <a class="page-link bg-secondary" href="#" aria-label="Previous">
          <span aria-hidden="true" class='text-light fs-5 fw-bold'><</span>
        </a>
      </li>
      <li class="m-1 border border-dark"><a class="page-link text-dark fs-5 fw-bold" href="">1</a></li>
      <li class="m-1 border border-dark"><a class="page-link text-dark fs-5 fw-bold" href="#">2</a></li>
      <li class="m-1 border border-dark">
        <a class="page-link" href="" aria-label="Next">
          <span aria-hidden="true" class='text-dark fs-5 fw-bold'>></span>
        </a>
      </li>
    </ul>
  </nav>
</form>

<!-- Steps -->
<div class="container-fluid" style='background-color: #e5f1ff; height: 400px;'>
<div class="row justify-content-evenly">
  <h1 class='text-center mt-5 fw-bold mb-4'>Hire Technician</h1>
  <div class="col-md-3 d-flex flex-column align-items-center">
    <div class='m-3 rounded' style='background-color: #afe3c5; height: 80px; width: 80px;'>
      <h1 class='text-center pt-3'>1</h1>
    </div>
    <h4 class='fw-bold text-center'>Select Technician
      with service type</h4>
  </div>
  <div class="col-md-3 d-flex flex-column align-items-center">
    <div class='m-3 rounded' style='background-color: #afe3c5; height: 80px; width: 80px;'>
      <h1 class='text-center pt-3'>2</h1>
    </div>
    <h4 class='fw-bold text-center'>Select Prefered Time
      Slot</h4>
  </div>
  <div class="col-md-3 d-flex flex-column align-items-center">
    <div class='m-3 rounded' style='background-color: #afe3c5; height: 80px; width: 80px;'>
      <h1 class='text-center pt-3'>3</h1>
    </div>
    <h4 class='fw-bold text-center'>Book Technician</h4>
  </div>
</div>
</div>





	<!-- Footer -->

{% endblock  %}