{% extends "base.html" %}

{% load static %}
{% block content %}

<style>
  .card {
    padding: 40px; 
    border: none;    }
  
  .card-img-top {
    width: 170px; 
    height: auto; 
  }
</style>

<!-- Hero Section -->
<div class="container-fluid">
  <div class="row text-center" style="background-color: #e5f1ff; max-height: 300px; padding:100px;">
    <h5>- About our company</h5>
    <h2 class='mb-3 fw-bold'>OUR SERVICES</h2>
    <h5> Our team focuses on helping you achieve <br> optimal technical surface</h5>

  </div>
</div>

<!--  -->

<div class='mt-4 mx-5'><p class='mx-3'>- What we provide</p></div>

<div class="container mb-5 mt-4">
  <div class="row">
    <div class="col-sm-6">  
          <h3 class="fw-bold">We provide the best <br> technical services</h3>
        </div>
    <div class="col-sm-6">  
          <p class="fs-5">Additionally, no one ever loves, pursues, or
            desires themselves out of pain—well, not
            always. options for house cleaning services
            and go on from there.</p>
        </div>
      </div>
    </div>
    

<!-- Services -->

<div class="container mb-5">
  <div class="row justify-content-between px-5">
    <div class="col-sm-4 mt-4">
      <div class="card border border-dark h-100">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/plumber.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text">Plumbing</h5>
          <p class="card-text">Effective plumbing solutions aren't just about fixing leaks, they're about fixing leaks promptly.</p>
          <a href="blog.html" class="mt-auto d-flex align-items-center text-decoration-none text-dark">
            <h6 class="fw-bold mb-0 me-2">Learn More</h6>
            <i class="fa-solid fa-arrow-right"></i>
          </a>
          
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4">
      <div class="card border border-dark h-100">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/electrician.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text">Electrician</h5>
          <p class="card-text">Resolving electrical issues isn't merely about fixing faults, it's about fixing them promptly.</p>
          <a href="" class="mt-auto d-flex align-items-center text-decoration-none text-dark">
            <h6 class="fw-bold mb-0 me-2">Learn More</h6>
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4">
      <div class="card border border-dark h-100">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/pest.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text">Pest Control</h5>
          <p class="card-text">Beyond just eliminating pests, pest control experts focus on swift eradication.</p>
          <a href="" class="mt-auto d-flex align-items-center text-decoration-none text-dark">
            <h6 class="fw-bold mb-0 me-2">Learn More</h6>
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4">
      <div class="card border border-dark h-100">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/painter.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text">Painter</h5>
          <p class="card-text">Painters go beyond brushes
            and colors; they ensure
            swift transformations.</p>
          <a href="" class="mt-auto d-flex align-items-center text-decoration-none text-dark">
            <h6 class="fw-bold mb-0 me-2">Learn More</h6>
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4">
      <div class="card border border-dark h-100">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/carpenter.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text">Carpenter</h5>
          <p class="card-text">Carpenters excel woodwork,
            they ensure timely solutions.
            Crafting and repairing,
            shape homes precision.</p>
          <a href="" class="mt-auto d-flex align-items-center text-decoration-none text-dark">
            <h6 class="fw-bold mb-0 me-2">Learn More</h6>
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mt-4">
      <div class="card border border-dark h-100">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/fenceexpert.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text">Fence Expert</h5>
          <p class="card-text">Going beyond just setting up
            fence experts specialize in
            meticulous installations and
            repairs.</p>
          <a href="" class="mt-auto d-flex align-items-center text-decoration-none text-dark">
            <h6 class="fw-bold mb-0 me-2">Learn More</h6>
            <i class="fa-solid fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <!--  -->
  </div>
</div>

<!-- Testimonials -->
<div class="container-fluid">
  <div class="row text-center" style="background-color: #e5f1ff; max-height: 580px; padding:50px;">
    <h5>Testimonials</h5>
    <h4 class='mb-3 fw-bold'>Kind words from customers</h4>

    <div class="col-sm-6 mt-4">
      <div class="card border border-dark h-100 bg-dark">
          <div class="card-body d-flex flex-column align-items-start">
              <img src="{% static 'images/profileImage.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
              <h5 class="fw-bold card-text text-light">Leo</h5>
              <p class="card-text text-start text-light">I recently had a major fitting project, and I couldn't have asked for a better partner than FixIt. Their attention to detail in electrical and plumbing systems ensured my new space is not only functional but also efficient.</p>
              <div class="fs-3" style='color: yellow;'>
                  <i class="fa-solid fa-star me-1"></i>
                  <i class="fa-solid fa-star me-1"></i>
                  <i class="fa-solid fa-star me-1"></i>
                  <i class="fa-solid fa-star me-1"></i>
                  <i class="fa-solid fa-star"></i>
              </div>
          </div>
      </div>
  </div>
  
    <div class="col-sm-6 mt-4">
      <div class="card border border-dark h-100 bg-dark">
        <div class="card-body d-flex flex-column align-items-start"> 
          <img src="{% static 'images/profileImage.jpg' %}" alt="" class="card-title rounded-circle" style="width: 75px; height: 75px;">
          <h5 class="fw-bold card-text text-light">Shree</h5>
          <p class="card-text text-start text-light">Our Furnitures needed an upgrade, and FixIt
            came through with flying colors. The
            installation was seamless, and their
            modern, our building into a comfortable
            oasis. I highly recommend them.</p>
            <i class="m-auto fa-solid fa-star text-light"></i>
        </div>
      </div>
    </div>

  </div>
</div>

	<!-- Footer -->

{% endblock  %}